<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Nome</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @side_dish.id %></td>
      <td><%= @side_dish.name %></td>
    </tr>
  </tbody>
</table>
