default: &default
  adapter: postgresql
  reconnect: false
  encoding: utf8
  pool: 5
  username: postgres
  password:
  host: localhost

development:
  <<: *default
  database: lunchdelivery_development

test:
  <<: *default
  database: lunchdelivery_test
  min_messages: WARNING
